.main{

}

h1, h2 {
    top: 200px;
    text-align: center;
    position: relative;

}

.link {
    top: 300px;
    text-align: center;
    position: relative;
}



h1 {
    font-size: 26px;
	font-weight: bold;
	color: #ff7800;
}
h2 {
	font-size: 18px;
	color: #ff7800;
}